<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
  <package id="O2S.Components.PDFView4NET.Win" version="6.1.1.0" targetFramework="net472" />
  <package id="Spire.PDF" version="6.12.20" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.3.0.42" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.3.0.42" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.WinForms" version="18.3.0.42" targetFramework="net472" />
</packages>